.body{
	position: relative;
	  background-color: #343a40;
	background: url('./img/bg-masthead.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding-top: 2rem;
  padding-bottom: 8rem;
}

.overlay{
	position:absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

body h1{
	font-size:3rem;
	padding-top:12rem;
	padding-bottom:12rem;
}